@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
 
  overflow: hidden;
  font-family: Roboto, sans-serif;
  background-color: #1F2937;
}


.header{
  display: flex;
  background-color: #1F2937;
  justify-content: space-between;
  padding: 15px;
}

.header img{
  width: 200px;
}

a{
  text-decoration: none;
  font-size: 24px;
  gap: 8 px;
  color: White;
  
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  
  
}
.subheader{
  display: flex;
  background-color: #1F2937;
  padding: 15px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
 /* border: solid black; */
  justify-content:center;
  gap:20px
  
  
}

.subtext-main{
  display: flex;
  flex-direction: column;
  width: 400px;
  padding:50px;
/*   border: solid black;*/
  
}

.subimage{
  display: flex;
  align-items: center;
  background-color: white;
/*   border: solid black; */
  
}

.subimage img{
  width: 500px;
  
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;

}

.pics{
  display: flex;
/*  border: solid black;*/
  justify-content: center;
  gap: 100px;
}

.barberry{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1F2937;
  gap:10px;
  padding:10px;
}

.content img{
  width: 125px;
  height: 125px;
/*  border-radius: 25px;*/
}


.content2{
  display: flex;
  background-color: #e5e7eb;
  flex-direction: column;
}

.content2 ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  flex-direction: column;
  margin-left: 100px;
  
}

b{
  text-decoration: none;
  font-style: italic;
  font-size: 30px;
  gap: 8 px;
  color:  #1F2937;
  flex-direction: column;
  
}

.footer{
  display: flex;
  justify-content: center;
  color: aliceblue;
  align-items: center;
  padding: 10px;
}
